body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    #wd-kambaz .wd-main-content-offset {
        padding-left: 140px !important;
    }
}

.list-group.wd>.list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
}

.btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
    --bs-list-group-border-color: gray;
}

.wd-lesson {
    border-left: 3px solid green !important;
}

.wd-assignment-list {
    border-left: 3px solid green !important;
}

.wd-assignment-modules {
    padding-left: 70px;
    font-size: 15px;

    .wd-assignment-modules-red {
        color: #dc3545
    }
}

.wd-assignment-link {
    color: #000;
    text-decoration: none !important;
    font-weight: bold;
    padding-left: 15px;
}

.wd-assignment-weight {
    font-size: 15px;

    .wd-assignment-weight-val {
        border: 1px solid;
        border-radius: 25px;
        padding: 5px;
    }
}

.wd-assignment-editor-group {
    border: 1px solid;
    border-color: #dee2e6;
    padding: 10px;
    width: 50%;
}

.github {
    color: #0d6efd !important;
    background-color: initial !important;
}

